name: Build and Test

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  build-test:
    runs-on: ubuntu-22.04

    services:
      docker:
        image: docker:stable-dind
        options: --privileged

    env:
      DOCKER_DRIVER: overlay2
      DOCKER_TLS_CERTDIR: ""

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Docker repository
      run: |
        sudo apt-get update && sudo apt-get install -y git x11-xserver-utils curl ca-certificates lsb-release
        sudo mkdir -p /etc/apt/keyrings
        curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo tee /etc/apt/keyrings/docker.asc
        sudo chmod a+r /etc/apt/keyrings/docker.asc
        echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable" | sudo tee /etc/apt/sources.list.d/docker.list > /dev/null
        sudo apt-get update && sudo apt-get install -y docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin docker-compose

    - name: Stop any running helper container
      run: |
        docker stop helper || true

    - name: Add references into hosts file
      run: |
        echo "127.0.0.1 localhost trust-anchor.org relying-party.org cie-provider.org" | sudo tee -a /etc/hosts

    - name: Build and run all components
      run: |
        cd testplans/spid-cie-oidc/implementations/spid-cie-oidc-django/
        chmod +x build_and_run.sh
        ./build_and_run.sh

    - name: Wait for the server to start
      run: sleep 15

    - name: Run a Docker image containing curl in the same network as I-MIG-T
      run: |
        docker network ls
        docker run -d --rm --network spid-cie-oidc-django_oidcfed --name helper dwdraju/alpine-curl-jq

    - name: Run script to send API test requests
      run: |
        cd testplans/spid-cie-oidc/implementations/spid-cie-oidc-django/
        chmod +x run_tests.sh
        docker cp run_tests.sh helper:/run_tests.sh
        docker exec helper ls -la /
        docker exec helper jq --version
        docker exec helper curl https://www.google.com
        docker stop helper

    - name: Upload test results
      uses: actions/upload-artifact@v2
      with:
        name: output.txt
        path: testplans/spid-cie-oidc/implementations/spid-cie-oidc-django/output.json
